# PostgreSQL local (recomendado)
DATABASE_URL=postgresql+psycopg://numera:numera@localhost:5432/numera

# Para volver temporalmente a SQLite:
# DATABASE_URL=sqlite:///./numera.db

UPLOAD_DIR=uploads
JWT_SECRET_KEY=cambia-esta-clave-por-una-clave-larga-y-segura
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
